html {
    background-color: #131516;
}

body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
    width: fit-content;
    background-color: #131516;
    color: #d1cdc7
}

h1 {
    color: #60a7e7;
    text-decoration-line: underline;
}

p {
    margin-bottom: 0px;
}

.tabla {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.tabla2 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.contenedor-tabla2 {
    max-height: 250px;
    contain: content;
    overflow: auto;
    border: 1px solid;
    border-radius: 3px;
    width: max-content;
    text-align-last: center;
}
