html {
    background: url("bg.svg");
}

body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
    width: fit-content;
    background-color: transparent;
    color: #d1cdc7
}

h1 {
    color: #60a7e7;
    text-decoration-line: underline;
}

p {
    margin-bottom: 0px;
}

.tabla {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.tabla2 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
