html {
    background-color: #131516;
}

body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
    width: fit-content;
    background-color: #131516;
    color: #d1cdc7
}

h1 {
    color: #60a7e7;
    text-decoration-line: underline;
}

p {
    margin-bottom: 0px;
}

.tabla {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
